<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LumenChatterBot1.Properties.Settings.LumenChatterBotConnectionString"
            connectionString="Data Source=NOTEBOOK164\SQL2008DB;Initial Catalog=LumenChatterBot;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>