<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="LumenChatterBot3ConnectionString" connectionString="Data Source=NOTEBOOK164\SQL2008DB;Initial Catalog=LumenChatterBot3;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<!--<add name="LumenChatterBot3ConnectionString" connectionString="Data Source=LumenLanguage\MSSQL2008;Initial Catalog=LumenChatterBot4;Integrated Security=True"
		  providerName="System.Data.SqlClient" />-->
		<!--<add name="LumenChatterBot3ConnectionString" connectionString="Data Source=LumenLanguage\MSSQL2008;Initial Catalog=LumenChatterBot3;Integrated Security=True"
		  providerName="System.Data.SqlClient" />-->
		<!--<add name="LumenChatterBot3ConnectionString" connectionString="Data Source=LumenLanguage\MSSQL2008;Initial Catalog=LumenChatterBot4;Integrated Security=True"
		providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<!-- EMAIL POP3-SMTP PARAMETER -->
		<add key="Pop3HostNameGmail" value="pop.gmail.com"/>
		<add key="PortPop3Gmail" value="995"/>
		<add key="PortSmtpGmail" value="587"/>
		<add key="IsUseSslGmail" value="true"/>
		<add key="IsUseSslGmailSmtp" value="true"/>
		<add key="Timeout" value="60000"/>
		<add key="UserGmail" value="lumensocialrobot@gmail.com"/>
		<add key="PwdGmail" value="srrg-lskk"/>
		<add key="SmtpHostNameGmail" value="smtp.gmail.com"/>
		<add key="MailAddressGmail" value="lumensocialrobot@gmail.com"/>
		<add key="MailOwnerNameGmail" value="Lumen"/>
		<add key="MailAddressFacebook" value="doubt376yeah@m.facebook.com"/>
		<add key="MailOwnerNameFacebook" value="Lumen"/>
		<add key="IsTesting" value="true"/>
		<add key="ImageDirectory" value="D:\\KULIAHTEMPORER\\Tesis Group\\ONGOING TESIS 2014\\NAO DEVELOPMENT\\CSharp\\LUMEN 3.0_13 APRIL 2014\\SOCMED\\WCFSocmedProcessing\\WCFSocmedProcessing\\bin\\Image\\"/>
		
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime maxRequestLength="2147483647"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding maxReceivedMessageSize="2147483647"
						 transferMode="Buffered"
						 maxBufferSize="2147483647"
						 maxBufferPoolSize="2147483647"
						 messageEncoding="Text" />
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>-->
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

</configuration>
