<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://167.205.66.254/LanguageProcessingService/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="LanguageProcessingService.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
	<appSettings>
		<add key="Local" value="127.0.0.1"/>
		<add key="IP" value="167.205.66.142"/>
		<add key="Port" value="9559"/>
		<add key="SpeechKey" value="SpeechContent"/>
		<add key="EventName" value="SpeechState"/>
		<add key="PostureInit" value="Stand"/>
		
		<!-- true = in simulation or false = connect with robot-->
		<add key="SimMode" value="false"/>
	</appSettings>
</configuration>