<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Local" value="127.0.0.1"/>
		<add key="IP" value="167.205.168.109"/>
		<add key="Port" value="9559"/>
		<add key="SpeechKey" value="SpeechContent"/>
		<add key="EventName" value="SpeechState"/>
		<add key="PostureInit" value="Stand"/>

		<add key="SimMode" value="true"/> <!-- true = in simulation or false = connect with robot-->
	</appSettings>
</configuration>